<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
    First Name : <input type="text" placeholder="First Name" ngModel name="fname" required #fname="ngModel"><br>
    <span *ngIf="!fname.valid && fname.touched" class="error">FirstName Required</span><br>

    Last Name: <input type="text" placeholder="Last Name" ngModel name="lname" required #lname="ngModel"><br>
    <span *ngIf="!lname.valid && lname.touched" class="error">Last Name Required</span><br>

    Email: <input type="email" placeholder="email address" ngModel name="email" required #email="ngModel"><br>
    <span *ngIf="!email.valid && email.touched" class="error">email Required</span><br>

    Phone Number: <input type="number" placeholder="phone number" ngModel name="phn" required #phn="ngModel"><br>
    <span *ngIf="!phn.valid && phn.touched" class="error">phone number Required</span><br>

    Address: <input type="text" ngModel name="address" required #address="ngModel"><br>
    <span *ngIf="!address.valid && address.touched" class="error">address Required</span><br>

    City: <input type="text" ngModel name="city" required #city="ngModel"><br>
    <span *ngIf="!city.valid && city.touched" class="error" >city Required</span><br>

    State: <input type="text" ngModel name="state" required #state="ngModel"><br>
    <span *ngIf="!state.valid && state.touched" class="error">state Required</span><br>

    PinCode: <input type="number" ngModel name="pincode" required #pincode="ngModel"><br>
    <span *ngIf="!pincode.valid && pincode.touched" class="error">pincode Required</span><br>

    <button type="submit" [disabled]="!f.valid" [routerLink]="'details/'+f">Submit</button>
</form>
<div *ngIf="isClicked">
    Name: {{Forms.fname}} {{Forms.lname}}<br>
    Email: {{Forms.email}}<br>
    Phn: {{Forms.phn}}<br>
    Address: {{Forms.address}}, {{Forms.city}}, {{Forms.state}}<br>
    PinCode: {{Forms.pincode}}
</div>